extends layout

block title
  title #{article.title} &mdash; Ti.Forward

block append meta
  +open-graph(
    type = "article"
    title = article.title
    description = article.lead
    url = "http://tiforward.org/journal/#{article.slug}/"
    image = "http://tiforward.org/images/logo.png"
    site_name = "Ti.Forward"
  )
  +twitter(
    card = "summary"
    title = article.title
    description = article.lead
    url = "http://tiforward.org/journal/#{article.slug}/"
    site = "@TiFwd"
  )

block navigation
  +navigation('Journal')

block body
  .content-wrapper
    .section
      h2(lang=article.locale) #{article.title}
      p.lead(lang=article.locale) #{article.lead}
      p Posted #{article.date} by #[a(href=article.author.url)= article.author.name ]

      if translations && translations.length > 0
        h6 Available also in
        .btn-group.btn-group-primary.btn-group-sm
          for translation in utils.getArticleTranslations(translations, article)
            - var language = utils.languages[ translation.locale ].nativeName;
            - var className = (article === translation) ? 'active disabled' : '';
            a.btn.btn-primary(
              class=className
              lang=translation.locale
              href="/journal/#{translation.slug}/")
              span(lang=translation.locale)= language

    .content(lang=article.locale)
      .separator
      != article.body

    .author
      h3 About the author
      +author(article.author)

    if article.translator && article.translator.id !== article.author.id
      .author
        h3 About the translator
        +author(article.translator)
      
