extends layout

block title
  title #{article.title} &mdash; Ti.Forward

block append meta
  +open-graph(
    type = "article"
    title = article.title
    description = article.lead
    url = "http://tiforward.org/journal/#{article.slug}/"
    image = "http://tiforward.org/images/logo.png"
    site_name = "Ti.Forward"
  )
  +twitter(
    card = "summary"
    title = article.title
    description = article.lead
    url = "http://tiforward.org/journal/#{article.slug}/"
    site = "@TiFwd"
  )

block navigation
  +navigation('Journal')

block body
  .content-wrapper
    .section
      h2(lang=article.locale) #{article.title}
      p.lead(lang=article.locale) #{article.lead}
      p Posted #{article.date} by #[a(href=article.author.url)= article.author.name ]

      if translations && translations.length > 0
        .separator
          p Available also in
          for translation in translations
            - var language = utils.LOCALES[ translation.locale ]
            p(lang=translation.locale)
              a(href="/journal/#{translation.slug}/")
                | #[strong(lang=translation.locale)= language] &mdash; #{translation.title}

    .content(lang=article.locale)
      .separator
      != article.body

    .author
      h3 About the author
      +author(article.author)

    if article.translator && article.translator.id !== article.author.id
      .author
        h3 About the translator
        +author(article.translator)
      
