mixin navigation(name)
  - var sections = utils.getSections(name);
  ul.nav.navbar-nav.navbar-right
    for section in sections
      li(class=section.active): a(href=section.slug)= section.name

mixin open-graph
  for content, property in attributes
    meta(property="og:#{property}", content=content)

mixin twitter
  for content, property in attributes
    meta(property="twitter:#{property}", content=content)

mixin author(author)
  .media
    .media-left
      a(href=author.url)
        img.media-object(width="50",height="50",src="//www.gravatar.com/avatar/#{author.gravatar}.png?s=100")
    .media-body
      if author.twitter || author.github
        .btn-group.btn-group-xs.pull-right
          if author.twitter
            a.btn.btn-primary(href="https://twitter.com/#{author.twitter}")
              i.fa.fa-twitter &nbsp;
              span= author.twitter
          if author.github
            a.btn.btn-primary(href="https://github.com/#{author.github}")
              i.fa.fa-github-alt &nbsp;
              span= author.github
      h4: a(href=author.url)= author.name
      p= author.bio
